@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="KhachHang_Sua_Handle" asp-controller="Admin">
    <span>Mã khách hàng</span>
    <input type="text" name="MaKH" value="@ViewBag.MaKH" readonly /> <br />
    <span>Tên khách hàng</span>
    <input type="text" name="TenKH" /> <br />
    <span>Địa chỉ</span>
    <input type="text" name="DiaChi" /> <br />
    <span>Số điện thoại</span>
    <input type="text" name="SDT" /> <br />
    <span>Mã tài khoản</span>
    <input type="text" name="MaTK" /> <br />

    <input type="submit" value="Cập nhật" />
</form>

