@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post" asp-action="Kho_ThemMoi" asp-controller="Admin">
    <div class="form-group">
        <label for="MaNCC">Mã NCC</label>
        <input type="text" name="MaNCC" class="form-control" />
    </div>
    <div class="form-group">
        <label for="MaGiay">Mã Giày</label>
        <input type="text" name="MaGiay" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Size">Size</label>
        <input type="text" name="Size" class="form-control" />
    </div>
    <div class="form-group">
        <label for="SoLuongKho">Số Lượng Kho</label>
        <input type="text" name="SoLuongKho" class="form-control" />
    </div>
    <div class="form-group">
        <label for="GiaNhap">Giá Nhập</label>
        <input type="text" name="GiaNhap" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>