@* @model List<Giay_Anh>
 *@
<form enctype="multipart/form-data" method="post">
    <input type="file" name="fileupload"/>
    <input type="text" name="ten"/>
    <input type="submit" value="luu"/>
</form>



@* <p>@foreach(var a in Model)
    {
        <div>@a.sMaGiay</div>
        <div>@a.sImageUrl</div>
    }
</p> *@


<img src="~/image/as.png"/>