@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="NhaCungCap_Sua_Handle" asp-controller="Admin">
    <span>Mã nhà cung cấp</span>
    <input type="text" name="MaNCC" value="@ViewBag.MaNCC" readonly /> <br />
    <span>Tên nhà cung cấp</span>
    <input type="text" name="TenNCC" /> <br />
    <span>Địa chỉ</span>
    <input type="text" name="DiaChi" /> <br />
    <span>Số điện thoại</span>
    <input type="text" name="SDT" /> <br />

    <input type="submit" value="Cập nhật" />
</form>