@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="NhanVien_ThemMoi" method="post" asp-controller="Admin">
    <span>Mã nhân viên</span>
    <input type="text" name="MaNV" /> <br />  <br />
    <span>Tên nhân viên</span>
    <input type="text" name="TenNV" /> <br />  <br />
    <span>Ngày sinh</span>
    <input type="date" name="NgaySinh" /> <br />  <br />
    <span>Giới tính</span>
    <input type="text" name="GioiTinh" /> <br />  <br />
    <span>Quê quán</span>
    <input type="text" name="QueQuan" /> <br />  <br />
    <span>Số điện thoại</span>
    <input type="text" name="SDT" /> <br />  <br />
    <span>Lương cơ bản</span>
    <input type="text" name="LuongCB" /> <br />  <br />
    <span>Hệ số lương</span>
    <input type="text" name="HSL" /> <br />  <br />
    <span>Phụ cấp</span>
    <input type="text" name="PC" /> <br />  <br />
    <span>Mã bộ phận</span>
    <input type="text" name="MaBP" /> <br />  <br />
    <span>Ngày vào làm</span>
    <input type="date" name="NgayVaoLam" /> <br />  <br />

    <input type="submit" value="Thêm mới" />
</form>
