@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="NhanVien_Sua_Handle" asp-controller="Admin">
    <span>Mã nhân viên</span>
    <input type="text" name="MaNV" value="@ViewBag.MaNV" readonly /> <br />
    <span>Tên nhân viên</span>
    <input type="text" name="TenNV" /> <br />
    <span>Ngày sinh</span>
    <input type="date" name="NgaySinh" /> <br />
    <span>Giới tính</span>
    <input type="text" name="GioiTinh" /> <br />
    <span>Quê quán</span>
    <input type="text" name="QueQuan" /> <br />
    <span>Số điện thoại</span>
    <input type="text" name="SDT" /> <br />
    <span>Lương cơ bản</span>
    <input type="text" name="LuongCB" /> <br />
    <span>Hệ số lương</span>
    <input type="text" name="HSL" /> <br />
    <span>Phụ cấp</span>
    <input type="text" name="PC" /> <br />
    <span>Mã bộ phận</span>
    <input type="text" name="MaBP" /> <br />
    <span>Ngày vào làm</span>
    <input type="date" name="NgayVaoLam" /> <br />

    <input type="submit" value="Cập nhật" />
</form>

