@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* @model List<NhanVien> *@
 @model  IEnumerable<dynamic>

<form method="post" asp-controller="admin" asp-action="NhanVien">
    <span>
        Tên NV
    </span>
    <input type="text" name="TenNV" />
    <input type="submit" value="search" />

    <br />
    <table class="table table-bordered">
        <tr>
            <th>Tên NV</th>
            <th>Tên BP</th>
            
        </tr>
      @*   @foreach (NhanVien nhanVien in Model)
        {
            <tr>
                <td>
                    @nhanVien.sMaNV
                </td>
                <td>
                    @nhanVien.sTenNV
                </td>
             
            </tr>
        } *@
        @foreach (var nhanVien in Model)
        {
            <tr>
                <td>
                    @nhanVien.TenNhanVien
                </td>
                <td>
                    @nhanVien.TenBoPhan
                </td>

            </tr>
        }
    </table>

</form>

